@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Creator: <strong>@ViewData["Creator"]</strong></p>
<address>
    <strong><a href="http://linkedin.com/in/pedro-silva-12022001">Meu LinkedIn</a></strong>
</address>

